.carousel {
   padding-bottom: 150px;
}

.carousel__name, 
.carousel__title {
   text-align: center;
}

.carousel__title {
   margin-bottom: 65px;
}

.carousel__slider {
   padding-bottom: 60px;
}

.carousel__slider-wrapper {
   // padding-right: 30px;
   // padding-left: 30px;
}