.carousel {
   margin-bottom: 176px;
}

.carousel__name, 
.carousel__title {
   text-align: center;
}

.carousel__title {
   margin-bottom: 65px;
}

.carousel__wrap-1 {
   margin-bottom: 60px;
}

.carousel__wrap-2 {
   background: url('../img/background/bg-slider.png') no-repeat;
   padding: 55px;
   padding-bottom: 95px;
   border-radius: 25px;
   background-size: cover;

   @media (max-width: $sm) {
      background: url('../img/background/bg-slider-mob.png') no-repeat;
      background-size: cover;
   }
}

.carousel-social {
   @media (max-width: $md) {
      overflow: visible;
   }
}
