.intro {
   padding-top: 20%;
   background: url('../img/background/bg-wave.png') no-repeat 90%;
   min-height: 500px;
   background-size: cover;
   position: relative;
   min-height: 1243px;
   overflow-x: hidden;

   @media (min-width: $md) {
      padding-top: 25%;
      padding-bottom: 30%;
   }
}

.intro__container {
   display: flex;

   @media (max-width: $xl) {
      flex-direction: column;
   }
}

.intro__box-text {
   @media (max-width: $xl) {
      order: 1;
   }
}

.intro__name {
   margin-bottom: 30px;

   @media (max-width: $sm) {
      margin-bottom: 5px;
   }
}

.intro__title {
   font-family: $ff-main;
   font-weight: 800;
   font-size: 54px;
   line-height: 57px;
   color: $c-main;
   margin-bottom: 32px;
   letter-spacing: -1px;
   min-width: 770px;

   @media (max-width: 820px) {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
   }
}

.intro__title-br-desc {
   display: block;

   @media (max-width: 820px) {
      display: none;
   }

   @media (max-width: $md) {
      display: block;
   }

   &--2 {
      @media (max-width: $sm) {
         display: none;
      }
   }
}

.intro__title-br-mob {
   display: none;

   @media (max-width: $sm) {
      display: block;
   }
}

.intro__text {
   font-family: $ff-main;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   margin-bottom: 40px;

   @media (max-width: 820px) {
      font-size: 16px;
      line-height: 32px;
   }
}

.intro__text br {
   display: block;

   @media (max-width: 820px) {
      display: none;
   }
}

.intro__wrap-btn {
   @media (max-width: $md) {
      display: flex;
      justify-content: center;
   }
}

.intro__btn {
   min-width: 246px;
   min-height: 71px;
   font-size: 18px;
   line-height: 21px;
   background: linear-gradient(to bottom right, #93f6a5, #58d2e5);
   border-radius: 50px;
   display: inline-block;
   padding: 3px;
   text-decoration: none;
}

.intro__btn-text {
   background-color: $c-purple;
   display: block;
   padding: 22px;
   border-radius: 46px;

   &::after {
      content: "Начать";
      display: block;
      font-family: $ff-main;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      background: linear-gradient(to bottom right, #93f6a5, #58d2e5);
      background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}

.intro__box-img {
   @media (max-width: $xl) {
      order: 0;
      z-index: 100;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
   }
}