.nav {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: flex-end;
   width: auto;
   position: relative;

   @media (max-width: $md) {
     display: none;
     width: 100%;
     position: absolute;
     top: -25px;
     left: 0;
     background-color: $c-black-opacity;
     padding: 90px 0;
     z-index: 1000;
   }
   
   // @media (max-width: $md) {
   //    width: 100%;
   //    position: absolute;
   //    top: -25px;
   //    left: 0;
   //    background-color: $c-black-opacity;
   //    padding: 90px 0;
   //    z-index: 1000;
   // }

   @media (min-width: 1310px) {
      flex-wrap: wrap;
   }

   &--open {

      @media (max-width: $md) {
         display: block;
         width: 100%;
         position: fixed;
         top: 0;
         left: 0;
         background-color: $c-black-opacity;
         padding: 90px 0;
         z-index: 100;
      }
   }
}

.nav__list {

   &--bottom {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1310px) {
         order: 1;
         width: 100%;
      }

      @media (max-width: $md) {
         display: block;
         width: 100%;
         justify-content: center;
         align-items: center;
      }
   }
}


.nav__item {
   margin-right: 50px;

   @media (max-width: $md) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      font-size: 18px;
   }
}

.nav__link {
   color: $c-main;

   &:hover {
      text-decoration: none;
      color: $c-main;
      border-bottom: 1px solid $c-main;
   }
}

.nav-icon {
   display: none;

   @media (max-width: $md) {
      display: block;
   }

   &--none {
      @media (max-width: $md) {
         display: none;
      }
   }
}

.nav__wrapper-btn {
   @media (max-width: 1310px) {
      order: 0;
      margin-bottom: 30px;      
      margin-top: 20px;
   }

   @media (max-width: $md) {
      display: none;
   }
      
   @media (max-width: $sm) {
      display: none;
   }
}

.nav__btn-check,
.nav__btn-input {
   border: 1px solid $white-opacity;
   transition: background-color .3s ease;

   &:hover {
      background-color: $white-opacity;
      color: $white-opacity;
      border: none;
   }

   &:active {
      background-color: $white-opacity;
      color: $c-main;
      border: none;
   }
}

.nav__btn-check {
   margin-right: 15px;

   @media (max-width: $sm) {
      margin-right: 0;
   }
}

.nav__btn-input {
   min-width: 158px;
}