.swiper-button-next,
.swiper-button-prev  {
   top: 25%;
   color: $c-purple-light;

   &:active,
   &:hover {
      color: $c-purple-opac;
   }
}

.swiper-button-prev {
   left: 0;
}

.swiper-button-next {
   right: 0;
}

.swiper-pagination {
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-pagination-bullet {
   width: 17px;
   height: 17px;
   border: 1px solid $c-purple;
   background-color: transparent;
}

.swiper-pagination-bullet-active {
   width: 24px;
   height: 24px;
   background-color: $c-purple;
}