.swiper-button-next,
.swiper-button-prev  {
   top: 35%;
   color: $c-purple-light;
   transition: .3s;

   &:hover {
      color: $c-violet;
   }
   
   &:active {
      color: $c-purple-opac;
   }

   @media (max-width: $md) {
      display: none;
   }
}

.swiper-button-prev {
   left: -30px;

   @media (max-width: $sl) {
      left: -10px;
   }

   @media (max-width: 1250px) {
      left: 0;
   }

   @media (max-width: $xl) {
      left: -30px;
   }
}

.swiper-button-next {
   right: -30px;

   @media (max-width: $sl) {
      right: -10px;
   }

   @media (max-width: 1250px) {
      right: 0;
   }

   @media (max-width: $xl) {
      right: -30px;
   }
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: -60px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.swiper-pagination-bullet {
   width: 17px;
   height: 17px;
   border: 1px solid $c-purple;
   background-color: transparent;
   margin-right: 13px;
   opacity: 1;
   position: relative;
}

.swiper-pagination-bullet-active {

   &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      background-color: $c-purple;
      border-radius: 50%;
   }
}