// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 400;
  font-family: SF-UI-Display;
  font-style: normal;

  font-display: swap;
  src: url(../font/SF-UI-Display/SF-UI-Display-Regular.woff2),
  url(../font/SF-UI-Display/SF-UI-Display-Regular.woff);
}

@font-face {
  font-weight: 700;
  font-family: SF-UI-Display;
  font-style: normal;

  font-display: swap;
  src: url(../font/SF-UI-Display/SF-UI-Display-Bold.woff2),
  url(../font/SF-UI-Display/SF-UI-Display-Bold.woff);
}

@font-face {
  font-weight: 800;
  font-family: SF-UI-Display;
  font-style: normal;

  font-display: swap;
  src: url(../font/SF-UI-Display/SF-UI-Display-Black.woff2),
  url(../font/SF-UI-Display/SF-UI-Display-Black.woff);
}
