.footer {
   height: 520px;
   background: url('../img/background/bg-footer.png') no-repeat;
}

.footer__container {
   display: flex;
   justify-content: center;
   padding-top: 15%;

   &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 30px;
      width: 1170px;
      height: 1px;
      padding-left: 15px;
      background-color: $white-opacity;

   }
}

.footer__logo {
   margin-right: 15%;
}

.footer__block {
   margin-right: 15%;
}

.footer__social {
   display: flex;
   justify-content: center;
   max-width: 160px;
}

.footer__social-item {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
}