.btn {
   padding: 0;

   background-color: transparent;
   border: none;

   min-width: 182px;
   background-color: transparent;
   border-radius: 50px;
   color: $c-main;
   padding: 15px;

   &--color {
      min-width: 170px;
      background: linear-gradient(to bottom right, #93f6a5, #58d2e5);
      border: transparent;
      transition: .3s ease;

      &:hover {
         background: linear-gradient(to bottom right, rgba(147, 246, 165, .8), rgba(88, 210, 229, .8));
      }

      &:active {
         background: linear-gradient(to bottom right, #73d384, #4ab0c0);
      }
   }

   &--orange {
      min-width: 182px;
      min-height: 55px;
      font-size: $fz-main;
      line-height: 20px;
      background-color: transparent;
      border: 3px solid $c-orange;
      border-radius: 50px;
      display: inline-block;
      padding: 3px;
      text-decoration: none;
      color: $c-orange;
      transition:  background-color .3s, color .3s ease;

      &:hover {
         background-color: $c-orange;
         color: $c-main;
      }

      &:active {
         background-color: $c-orange-opacity;
         border-color: transparent;
      }
   }

   &--brown {
      color: $c-brown;
      line-height: 32px;
      transition: transform .3s ease;

      &:hover {
         color: $c-purple-dark;
      }

      &:active span {
         border-bottom: 1px solid $c-purple-dark;
      }
   }
}


.btn-close {
   position: absolute;
   right: 29px;
   top: 14px;
   width: 20px;
   height: 20px;
   fill: $c-main;
   display: none;
   z-index: 1000;

   &--visual {
      display: block;
   }
}
