.btn {
   padding: 0;

   background-color: transparent;
   border: none;

   min-width: 182px;
   background-color: transparent;
   border-radius: 50px;
   color: $c-main;
   padding: 15px;

   &--color {
      min-width: 170px;
      background: linear-gradient(to bottom right, #93f6a5, #58d2e5);
      border: none;
   }

   &--orange {
      min-width: 182px;
      min-height: 55px;
      font-size: $fz-main;
      line-height: 20px;
      background-color: transparent;
      border: 3px solid $c-orange;
      border-radius: 50px;
      display: inline-block;
      padding: 3px;
      text-decoration: none;
      color: $c-orange;
   }
}

